body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin: 24px 76px 24px 156px;
}

.text-one {
    color: #2e2f42;
}

.heading {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em
}

.paragraph-one {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.nav-li {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 261px;
    height: 24px; 
    margin: 24px 332px 24px 76px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-li:hover,
.nav-li:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.contacts-info {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

#one {
    margin: 24px 40px 24px 332px;
}

#two {
    margin: 24px 156px 24px 40px;
}

.nav-li-hero-one {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-li-hero {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-li-hero:hover,
.nav-li-hero:focus{
   color: #404bbf;
}

.nav-li-hero-one:hover,
.nav-li-hero-one:focus {
    color: #404bbf;
}

.contacts-info:hover,
.contacts-info:focus {
  color: purple;
}

.container {
  width: 1440px;
  height: 600px;
}

.first-section {
  background-color: #2e2f42;
}

.hero-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
margin: 188px 472px 292px 472px;
}

.button {
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
margin: 356px 635px 188px 636px;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
}

.button:hover,
.button:focus {
background-color: #404BBF;
}

.layout {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
    margin: 120px 156px 120px 156px;
}

.first-section {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.paragraph-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.heading-zwei {
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #2e2f42;
}

.paragraph-zwei {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455; 
}

.heading-four {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 120px 611px 72px 611px;
}

.heading-fier {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph-cztery {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.photo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
    margin: 120px 156px 120px 156px;
}

.paragraph {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}

.paragraph-jeden {
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 120px 639px 72px 639px;
}

.third-section {
    background-color: #F4F4FD;
}

.two-section {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.list-item-dwa {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
}

a {
 text-decoration: none;
}

a:hover,
a:focus {
    color: #4d5ae5;
}

.paragraph-two {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #f4f4fd;
}

.footer {
    background-color: #2e2f42;
    width: 264px;
    height: 112px;
    padding: 100px 1020px 100px 156px;
}

.paragraph-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.text {
    color: #f4f4fd;
}